<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Stock List</title>
        <link rel="stylesheet" href="/css/order.css">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rock+Salt&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Akronim&display=swap" rel="stylesheet">

	</head>
	<body>
        <a id = "a1" href="/hyperBean/menu">Back to Menu</a>
        
		<h1><span class = "red" id ="jitterbug1"><%=customer%>'s</span> order</h1>
        <input id = "submitOrder" type ="submit" value ="Submit Order" onclick = "alert('Your Order has been Submitted!')"/>
        
		<ul>
			<% product.forEach(product => { %>
            
			<li><span class ="yellow"><%=product.name; %></span></li>
            <li><span class = "red">Bean:</span><%=product.coffee%></li>
            <li>Cream:<%=product.cream%></li>
            <li><span class = "yellow" id = "jitterbug3">Size:</span> <%=product.size%></li>
            <li>Espresso <span class = "yellow">Shots:</span><%=product.espresso%></li>
            <li>Quantity: <%=product.qty%></li>
            <li><a class = "edit" href="/hyperBean/<%=product._id%>/edit">Edit</a></li>
            <li><form class = "delete" action="/hyperBean/yourOrder/<%=product.id %>?_method=DELETE" method="POST">
                <input class = "button" type="submit" value="DELETE"/>
            </form></li>
                <%if (product.name == "Black") {%>
                 <li>
                     Price:$ <%=productPrice=blackPrice * product.qty%>
                 </li>
                    <%} else if (product.name == "Mocha Latte") {%>
                        <li>
                        Price:$<%=productPrice=mochaPrice * product.qty%>
                        </li>
                    <%} else if (product.name == "Frappuccino") {%>
                        <li>
                            Price:$ <%=productPrice=frapPrice * product.qty%>
                        </li>
                    <%} else if (product.name == "Americano") {%>
                        <li>
                            Price:$ <%=productPrice= ameriPrice * product.qty%>
                        </li>
                    <%} else if (product.name == "Hot Chocolate") {%>
                        <li>
                            Price:$ <%=productPrice=hotPrice * product.qty%>
                        </li>
                    <%} else {%>
                        <li>
                            we dont sell this!
                        </li>
                    <%}%>

            
            <br>
            <% totalPrice = totalPrice + productPrice%>
			<% }) %>
        </ul>

        <h2><span class = "yellow" id = "jitterbug2">Your total is:</span> $<%=totalPrice%></h2>
        
        
        
	</body>
</html>