<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Stock List</title>
        <link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
        <a href="/hyperBean/menu">Back to Menu</a>
		<h1><%=customer%>'s order</h1>
		<ul>
			<% product.forEach(product => { %>
			<li><%=product.name; %></li>
            <li>Bean:<%=product.coffee%></li>
            <li>Cream:<%=product.cream%></li>
            <li>Size: <%=product.size%></li>
            <li>Espresso Shots:<%=product.espresso%></li>
            <li>Quantity: <%=product.qty%></li>
            <li><form action="/hyperBean/yourOrder/<%=product.id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
            </form></li>
            
            <br>
			<% }) %>
        </ul>
        
        
	</body>
</html>