<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Show Page</title>
</head>
<body>
    <div class = "container"></div>
    <h1>Here are the default customization options for <%=defaultProduct.name%></h1>
    <a href= "/hyperBean/menu">Back</a>
    <h2>Type of Bean Used:<%=defaultProduct.coffee%></h2>
    <h2>Type of Cream: <%=defaultProduct.cream%></h2>
    <h2>Size:<%=defaultProduct.size%></h2>
    <h2>Number of Espresso Shots:<%=defaultProduct.espresso%></h2>
    <h2>Number of Items: <%=defaultProduct.qty%></h2>
    <h2>Price($):<%=defaultProduct.price%></h2>
    <%if (defaultProduct.name == "Black") {%>
    <a href= "/hyperBean/0/new">Customize!</a>
    <%} else if (defaultProduct.name == "Mocha Latte") {%>
        <a href= "/hyperBean/1/new">Customize!</a>
    <%} else if (defaultProduct.name == "Frappuccino") {%>
        <a href= "/hyperBean/2/new">Customize!</a>
    <%} else if (defaultProduct.name == "Americano") {%>
        <a href= "/hyperBean/3/new">Customize!</a>
    <%} else if (defaultProduct.name == "Hot Chocolate") {%>
        <a href= "/hyperBean/4/new">Customize!</a>
    <%} else {%>
        <a href= "/hyperBean/2/new">IDK WTF</a>
    <%}%>
</body>
</html>