<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Show Page</title>
</head>
<body>
    <div class = "container"></div>
    <h1>Here are the default customization options for <%=defaultProduct.name%></h1>
    <a href= "/hyperBean/menu">Back</a>
    <h2>Type of Bean Used:<%=defaultProduct.coffee%></h2>
    <h2>Type of Cream: <%=defaultProduct.cream%></h2>
    <h2>Size:<%=defaultProduct.size%></h2>
    <h2>Number of Espresso Shots:<%=defaultProduct.espresso%></h2>
    <h2>Number of Items: <%=defaultProduct.qty%></h2>
    <h2>Price($):<%=defaultProduct.price%></h2>
    <a href= "/hyperBean/new">Customize!</a>
</body>
</html>